<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>999378919597-809o0lehe7f8383esaf9lbv3fva78lpg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.999378919597-809o0lehe7f8383esaf9lbv3fva78lpg</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>999378919597-kbsmcufvgs1i4pm378c3t47kamifaj4k.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAXiyidjDSNOVF929n8PDesE_yVlnrQcq8</string>
	<key>GCM_SENDER_ID</key>
	<string>999378919597</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>desawisatanusantara.go.desaWisataNusantara</string>
	<key>PROJECT_ID</key>
	<string>desa-wisata-83e62</string>
	<key>STORAGE_BUCKET</key>
	<string>desa-wisata-83e62.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:999378919597:ios:d3b5ff3a68e2708783a624</string>
</dict>
</plist>